<div class="d-flex flex-column justify-content-around">
  <h1 class="align-self-center">Welcome to Mahi</h1>



  <% if trainee_signed_in? %>

    <h2 class="align-self-center">What are you wanting to do now?</h2>

    <div class="d-flex flex-row justify-content-around">
      <%= link_to goals_path do %>
        <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
          <p>Check or Update your Goals<p>
        </div>
      <% end %>

      <%= link_to goals_path do %>
        <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
          <p>Log your Workouts<p>
        </div>
      <% end %>

      <%= link_to goals_path do %>
        <div class="card text-black bg-light mb-3" style="max-width: 18rem;">
          <p>Track your Measurements<p>
        </div>
      <% end %>
    </div>

  <% else %>

    <div class="d-flex flex-row justify-content-around">
      <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
        <p>Set personal goals for yourself</p>
      </div>
      <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
        <p>Log personalized workouts</p>
      </div>
      <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
        <p>Track your body-weight and muscle measurements</p>
      </div>
    </div>

  <% end %>

</div>
